@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-50 text-slate-900 dark:bg-dark dark:text-slate-100;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-lg dark:bg-black/70 dark:border-white/10;
  }
}
